<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <div class="main">
        <div class="container">
            <h1 class="header">Login</h1>
            <div class="well">
                <form class="form" method="POST" name="login_user_form">
                    <div class="label">
                        <!-- <label for="login">Login: </label> -->
                        <input class="input" placeholder="Login" name="login" id="login"/>
                    </div>
                    <div class="label">
                        <!-- <label for="password">Password: </label> -->
                        <input class="input" placeholder="Password" name="password" id="password"/>
                    </div>
                  <button class="button">
                    Авторизоваться
                  </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>